/* Main */

#header-sec-l{
    display: flex;
    justify-content: space-between;
    width: 334px;
}



.content-document {
    height: 1138px;
}

.item-document {
    grid-column: 1/13;
    height: 826px;
    margin-top: 0px;
    /* grid */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    /* border: 1px solid black; */
}

#close-icon {
    display: none;
}


/* Content Preview */

.preview_and_button {
    grid-column: 1/4;
    height: 100%;
}

.preview {
    background-color: #ffffff;
    width: 100%;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-image: url('/assets/documento-doc.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* shadow-primary-500 */
    box-shadow: 4px 8px 8px rgba(27, 57, 106, 0.5);
    border-radius: 16px;
    object-fit: cover;
}

.content-doc {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.content-doc .capa {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 16px;
    background-color: var(--PCV_500);
    opacity: 0.6;
    transition: all 500ms ease-out;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.contenido {
    position: absolute;
    width: 311px;
    height: 472px;
    top: 20px;
    z-index: 2;
    /*  */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.item-contenido {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    /* border: 1px dashed black; */
}

.item-contenido h5 {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    /* WShades-500 */
    color: var(--WHCV_500);
}

.button-responsive {
    display: none;
}

.content-doc:hover>.contenido {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.content-doc:hover>.capa {
    opacity: 0.8;
    visibility: visible;
    z-index: 1;
}

.padding-out {
    padding: 0px 12px;
}

.button-donw {
    cursor: pointer;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--PCV_500);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.button-donw h5 {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    /* WShades-500 */
    color: var(--WHCV_500);
}


/*  transition: all 500ms ease-out; */


/* Content Button */

.type-document {
    width: 100%;
    height: 112px;
    margin-top: 48px;
    /*  */
    display: flex;
    justify-content: center;
    /* border: 1px dashed red; */
}

.show-doc {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    width: 283px;
    height: 110px;
    /* Secondary-500 */
    background: var(--TCV_500);
    /* BShades-500 */
    border: 1px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 16px;
    cursor: pointer;
}

.show-doc h5 a {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    /* BShades-500 */
    color: var(--BCV_500);
    display: flex;
    justify-content: center;
}

.information-doc {
    grid-column: 5/13;
    height: auto;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item-informacion {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 60px;
}

.item-informacion h4 {
    width: 100%;
    height: 85px;
    /* H4 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 46px;
    display: flex;
    justify-content: start;
    align-items: center;
    letter-spacing: 0.25px;
    /* Primary-500 */
    color: var(--PCV_500);
    /* border: 1px dashed blue; */
}

.item-informacion h6 {
    width: 100%;
    height: 52px;
    /* H6 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    justify-content: start;
    align-items: center;
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: var(--BCV_500);
    /* border: 1px dashed blue; */
}

.item-desc h6 {
    width: 100%;
    height: 100%;
    /*  */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: #141927;
    /* border: 1px dashed blue; */
}

.item-lugares h6 {
    width: 100%;
    height: 60px;
    /* H6 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /* Secondar-700 */
    color: var(--SCV_700);
}

.item-lugares ul {
    width: 100%;
    height: 99px;
    /* border: 1px dashed blue; */
}

.item-lugares ul li {
    /* Body 1 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    /* BShades-500 */
    color: var(--BCV_500);
    padding-bottom: 1rem;
}




.content-button{
    width: 100%;
    height: 4rem;
    display:flex;
    justify-content: space-between;
    margin-top: 0px;
}

.reanudar-send {
    width: 335px;
    height: 4rem;
    margin-top: 0px;
    cursor: pointer;
    /*AutoLayout*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    /*Secondary-500*/
    background: var(--SCV_500);
    /*BShades-500*/
    border: 1px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 1rem;
    /* Font */
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.cancel-send {
    width: 335px;
    height: 4rem;
    margin-top: 0px;
    cursor: pointer;
    /*AutoLayout*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    /*Secondary-500*/
    background: var(--ECV_500);
    /*BShades-500*/
    border: 1px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    /* Font */
    /* b */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--WHCV_500);
}


/* --footer --*/

footer {
    height: 832px;
    background-color: var(--PCV_500);
    color: var(--WHCV_500);
}

.pages-footer {
    height: 320px;
    margin-top: 200px;
    grid-column: 2/6;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* border: solid 1px white; */
}

.img-link-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 100%;
    /*  border: solid 1px red; */
}

.justify-c {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    align-items: center;
    /* border: solid 1px green; */
}

.justify-s {
    display: flex;
    justify-content: start;
    width: 50%;
    height: 100%;
    align-items: center;
    /* border: solid 1px green; */
}

.socials {
    margin-top: 40px;
    grid-column: 8/12;
    height: 248px;
    /* border: solid 1px green; */
}

.titulo {
    background-color: var(--SCV_500);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
    border-radius: 16px;
}

h2 {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 80px;
    letter-spacing: -0.5px;
    color: var(--BCV_500);
}


/* --------- */

.img-socials,
.img-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    grid-column: 8/12;
    height: 80px;
    margin-top: 40px;
    /* border: solid 1px black; */
}

.contacts {
    grid-column: 8/12;
    height: 248px;
    /* border: solid 1px green; */
    margin-top: -267.5px;
}

.credits {
    grid-column: 2/12;
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    text-align: center;
    /* border: solid 1px green; */
}


/* ================
DARK MODE 
================ */

.boxshaw-menu {
    /* background-color: var(--BCV_400); */
    background-color: red;
    border: 3px solid var(--WHCV_500);
    box-sizing: border-box;
    box-shadow: 4px 8px 8px 0px rgba(20, 25, 39, 0.5);
}

.dark-fill {
    fill: var(--BCV_500);
}

.dark-font-bc {
    color: var(--BCV_500);
}

.wh-border {
    border: 1px solid var(--WHCV_500);
}

.dark-background {
    background-color: var(--PCV_200);
}

.dark-dcv200 {
    background-color: var(--ECV_200);
    border: 1px solid var(--WHCV_500);
    color: var(--BCV_500);
}

.dark-icv {
    background-color: var(--ICV_200) !important;
}