/* ------------------------------ */

#menu{
    align-self: flex-end !important;
}

.menu-float {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: 171px;
    margin-left: 20%;
    /**/
    /* background: #FDFDFD; */
    /*Primary-200*/
    border: 3px solid #A4B0C3;
    box-shadow: 4px 8px 8px rgba(20, 25, 39, 0.5);
    border-radius: 16px;
    /*visibility: hidden;
    */
    margin-top:0px;
    display: none;
}

.img-source {
    width: 2rem;
    height: 2rem;
    margin-right: 21.3px;
}

.container-menu {
    display: flex;
    justify-content: start;
    height: 33px;
    width: 192px;
    /* border: 1px solid red; */
    margin: 20px;
}

.container-menu h5 a {
    /* H5 */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */
    /* BShades-500 */
    color: #141927;
}

.container-menu h5 .exit-s {
    /* H5 */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */
    /* Danger-500 */
    color: #991344;
}

#up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    display: none;
}