.content-05 {
    height: auto;
}

.colum-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    height: 92%;
    /* border: 1px solid red; */
}

.LCheck {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    /* Body 1 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
}

.check__input {
    display: none;
}

.check {
    width: 2rem;
    height: 2rem;
    /* WShades-500 */
    background-color: #F9F9F9;
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    margin-right: 60px;
    border-radius: 4px;
    padding: 4px;
    margin-left: 32px;
}

.check::after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #1B396A;
    border-radius: 2px;
    transform: scale(0);
}

.check__input:checked+.check::after {
    transform: scale(1);
}


/* ---------------------- */

.check__input {
    display: none;
}

.check-dark {
    width: 2rem;
    height: 2rem;
    /* WShades-500 */
    background-color: #434752;
    /* Primary-500 */
    border: 1px solid #F2B90F;
    box-sizing: border-box;
    margin-right: 60px;
    border-radius: 4px;
    padding: 4px;
    margin-left: 32px;
}

.check-dark::after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background-color: #F2B90F;
    border-radius: 2px;
    transform: scale(0);
}

.check__input:checked+.check-dark::after {
    transform: scale(1);
}

input[type=checkbox] {
    display: none;
}


/* radio */

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.radio__input {
    display: none;
}

.radio__radio {
    width: 2rem;
    height: 2rem;
    /* WShades-500 */
    background: #F9F9F9;
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    border-radius: 18px;
    margin-right: 10px;
    padding: 2px;
    margin-left: 54px;
}

.radio-dark {
    width: 2rem;
    height: 2rem;
    /* WShades-500 */
    background-color: #434752;
    /* Primary-500 */
    border: 1px solid #F2B90F;
    box-sizing: border-box;
    border-radius: 18px;
    margin-right: 10px;
    padding: 2px;
    margin-left: 54px;
}

.radio__radio::after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--PCV_500);
    border-radius: 50%;
    transform: scale(0);
}

.radio__input:checked+.radio__radio::after {
    transform: scale(1);
}

.radio-dark::after {
    content: " ";
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--SCV_500);
    border-radius: 50%;
    transform: scale(0);
}

.radio__input:checked+.radio-dark::after {
    transform: scale(1);
}


/* --text area --*/

textarea {
    /* WShades-500 */
    background-color: var(--WHCV_500);
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 24px;
    width: 100%;
    /* Body 2 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    /* Info-500 */
    color: #1550AF;
    height: 160px;
    resize: none;
}


/* fieldset */

.fieldset {
    grid-column: 2/12;
    height: 762px;
    /* WShades-500 */
    background: var(--WHCV_500);
    /* BShades-500 */
    border: 2px solid var(--BCV_500);
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 48px;
}

.lenged1 {
    width: 335px;
    height: 49px;
    /* Secondary-500 */
    background-color: var(--SCV_500);
    /* WShades-500 */
    border: 2px solid var(--WHCV_500);
    border-radius: 8px;
    margin-left: -5px;
    margin-top: -5px;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.lenged1 h5 {
    /* H5 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    /* BShades-500 */
    color: var(--BCV_500);
}

.h529 {
    height: 529px;
}

.head {
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: #141927;
    text-align: start;
}

.caption {
    /* Body 2 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.25px;
    /* Info-500 */
    color: #1550AF;
    margin-top: 4px;
}


/* --Subir Archivos-- */

.file {
    grid-column: 2/6;
    height: 131px;
    margin-top: 4rem;
    /*  */
    display: flex;
    flex-direction: column;
    /* border: 1px dashed darkblue; */
}

.file .file-input {
    display: none;
}

.file-input-l {
    margin-top: 24px;
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 120px;
    width: 100%;
    height: 64px;
    /* BShades-500 */
    border: 2px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: #141927;
    position: relative;
}

.file i {
    position: absolute;
    margin-left: 40px;
    margin-top: 68px;
}


/* Desd */

.file-descrip {
    grid-column: 6/10;
    height: 131px;
    margin-top: 4rem;
    /* border: 1px dashed darkblue; */
}

.file-descrip input {
    width: 100%;
    height: 40px;
    margin-top: 24px;
    /* WShades-500 */
    background: var(--WHCV_500);
    /* Primary-500 */
    border: 1px solid #1B396A;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.5px;
    /* BShades-200 */
    color: #A1A3A9;
}


/* date */

.espec-date {
    grid-column: 2/6;
    height: 246px;
    margin-top: 80px;
    /* border: 1px dashed darkblue; */
}

.espec-date input {
    width: 100%;
    height: 40px;
    /* WShades-500 */
    background: var(--WHCV_500);
    /* Primary-500 */
    border: 1px solid var(--PCV_500);
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 24px;
    /* Subtitle 1 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    /* BShades-200 */
    color: #A1A3A9;
    position: relative;
}

.espec-date i {
    position: absolute;
    margin-left: 387px;
    margin-top: -35px;
}


/* Motivo */

.motivo {
    grid-column: 6/10;
    height: 246px;
    margin-top: 80px;
    /* border: 1px dashed darkblue; */
}

.add-o {
    grid-column: 2/6;
    height: 64px;
    margin-top: 80px;
    /* Secondary-500 */
    background: #F2B90F;
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: #141927;
}


/* --Archivos subidos-- */

.info-item {
    grid-column: 2/10;
    height: 292px;
    margin-top: 4rem;
    /*  */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1px;
    row-gap: 8px;
    /* border: 1px dashed darkblue; */
}

.info-item .header {
    background-color: var(--PCV_500);
    /* WShades-500 */
    border: 1px solid #F9F9F9;
    box-sizing: border-box;
    /*  */
    display: flex;
    align-items: center;
}

.h-last {
    box-sizing: border-box;
    border-radius: 0px 8px 0px 0px;
}

.h-firts {
    box-sizing: border-box;
    border-radius: 8px 0px 0px 0px;
}

.info-item h6 {
    width: 100%;
    text-align: center;
    /* H6 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.15px;
    /* WShades-500 */
    color: var(--WHCV_500);
    /* border: 1px solid red; */
}

.info-item .item {
    /* Primary-200 */
    background: #A4B0C3;
    /* WShades-500 */
    border: 1px solid #a19595;
    box-sizing: border-box;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-last {
    box-sizing: border-box;
    border-radius: 0px 0px 8px 0px;
}

.i-last i {
    /* molecule */
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 32px;
    height: 32px;
    /* BShades-500 */
    border: 2px solid #141927;
    box-sizing: border-box;
    border-radius: 4px;
}

.i-firts {
    box-sizing: border-box;
    border-radius: 0px 0px 0px 8px;
}

.info-item label {
    width: 100%;
    text-align: center;
    /* Body 1 */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.5px;
    /* BShades-500 */
    color: #141927;
}

.add-o2 {
    grid-column: 3/7;
    height: 64px;
    margin-top: 24px;
    /* Secondary-500 */
    background: #F2B90F;
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: #141927;
}


/* --buttons-- */

.buttons {
    grid-column: 2/12;
    height: 64px;
    margin-top: 64px;
    margin-bottom: 80px;
    /*  */
    display: flex;
    justify-content: space-between;
    /* border: 1px dashed red; */
}

.buttons .back {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    position: static;
    width: 200px;
    height: 64px;
    /* Secondary-500 */
    background-color: var(--SCV_500);
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: #141927;
}

.buttons .save-exit {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    position: static;
    width: 269px;
    height: 64px;
    /* BShades-500 */
    border: 2px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: #141927;
}

.buttons .next {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    position: static;
    width: 199px;
    height: 64px;
    /* Primary-500 */
    background: #1B396A;
    /* BShades-500 */
    border: 1px solid #141927;
    box-sizing: border-box;
    border-radius: 16px;
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: var(--WHCV_500);
    /* Button */
    font-family: var(--font_body);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* BShades-500 */
    color: var(--WHCV_500);
}


/* ------------------------------ */

.steps {
    grid-column: 3/11;
    height: auto;
    margin-top: 28px;
    /*  */
    display: flex;
    justify-content: space-between;
}

.step {
    width: min-content;
    height: auto;
    background-color: var(--WHC_500);
    /* margin-right: 39.5px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step .item-step {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 16px;
    /* Info-200 */
    background-color: #A1B9DF;
    /* BShades-500 */
    border: 3px solid #141927;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.step .item-select {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 16px;
    /* Info-200 */
    background-color: vra(--WHC_500);
    /* BShades-500 */
    border: 3px solid #1550AF;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
}

.step .item-step h4,
.step .item-select h4 {
    /* H4 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    /* BShades-500 */
    color: #141927;
}

.step p {
    /* Subtitle 1 */
    font-family: var(--font_headlines);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.15px;
    /* BShades-500 */
    color: #141927;
}

.step p{
    width: 100%;
    height: 50% !important;
    text-align: center;
    font-size: 14px ;
}

.step .des-s {
    /* Subtitle 1 */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.15px;
    /* Info-200 */
    color: #A1B9DF;
}

.barra1,.barra2,.barra3,.barra4,.barra5, .barra6 {
    margin-top: 30px;
}

.border-icon {
    border-radius: 4px;
}

#label-descrip-1,
#label-descrip-2,
#label-descrip-3 {
    color: var(--ICV_500);
}

#label-descrip-4 {
    color: var(--BCV_500);
}

#num-cuadro-1,
#num-cuadro-2,
#num-cuadro-3 {
    color: var(--WHCV_500);
}

#cuadro-descrip-1,
#cuadro-descrip-2,
#cuadro-descrip-3 {
    border: 3px solid var(--ICV_500);
    background-color: var(--ICV_500);
}

#cuadro-descrip-4 {
    border: 3px solid var(--ICV_500);
    background-color: var(--WHCV_500);
}


/* ==========================
DAR MODE 
=============================  */

.descrip-steps {
    color: var(--ICV_200) !important;
}

.descrip-steps-w {
    color: var(--WHCV_200) !important;
}

.descrip-steps-w7 {
    color: var(--WHCV_700) !important;
}

.bg-steps {
    background-color: var(--ICV_200) !important;
    border: 3px solid var(--ICV_200) !important;
}

.bg-steps-w {
    background-color: var(--BCV_500) !important;
    border: 3px solid var(--ICV_200) !important;
}

.bg-steps-ns {
    border: 3px solid var(--WHCV_500) !important;
    background-color: var(--BCV_200) !important;
}

.color-num {
    color: var(--BCV_500) !important;
}

.color-num-w {
    color: var(--WHCV_500) !important;
}

.lines-select {
    stroke: var(--ICV_200) !important;
}

.legend-drak {
    border: 2px solid var(--BCV_500) !important;
}

.fieldset-drak {
    border: 2px solid var(--WHCV_500) !important;
    background-color: var(--BCV_500) !important;
}

.font-wh {
    color: var(--WHCV_500) !important;
}

.input-documen-dark {
    border: 2px solid var(--WHCV_500) !important;
}

.icon-w {
    fill: var(--WHCV_500);
}

.input-dark {
    border: 1px solid var(--WHCV_500) !important;
    background-color: var(--BCV_400) !important;
}

.infor-ic2 {
    color: var(--ICV_200) !important;
}

.border-w {
    border: 1px solid var(--WHCV_500) !important;
}

.bg-sc {
    background-color: var(--SCV_500) !important;
}

.color-bc {
    color: var(--BCV_500) !important;
}

.button-save {
    background-color: var(--BCV_500) !important;
    color: var(--WHCV_500) !important;
    border: 2px solid var(--WHCV_500) !important;
}

.button-next {
    background-color: var(--PCV_200) !important;
    color: var(--BCV_500) !important;
    border: 1px solid var(--WHCV_500) !important;
}

.dark-fill {
    fill: var(--BCV_500);
}